<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form method="POST">
            <div class="form-colunm">
                <div class="form-group col-md-8 offset-lg-2">
                    <label for="inputEmail4">Email</label>
                    <input value="<%= objetoObtenido.titulo%>" type="text" name="tituloInput" class="form-control" id="inputEmail4">
                </div>
                <div class="form-group col-md-8 offset-lg-2">
                    <label for="inputPassword4">Password</label>
                    <textarea name="cuerpoInput" class="form-control" id="inputPassword4"><%= objetoObtenido.cuerpo%></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">submit</button>
        </form>
    </div>
</body>
</html>