<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>hola</title>
</head>
<body>
    <div class="container">
        <ul class="list-group">
            <%if(selectResultado.length) {%> 
                <%selectResultado.forEach(entrada => {%>
            <li class="list-group-item active"><%=entrada.titulo%>
                <a href="borrar/<%= entrada.id_tarea%>" style="color: white;">Borrar</a>
                <a href="editarEntrada/<%= entrada.id_tarea%>" style="color: white;">Editar</a>
            </li>
            <li class="list-group-item"><%=entrada.cuerpo%></li>
            <%});}%>
        </ul>
    </div>
</body>
</html>